@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Jost", serif;
  color: "#0A0A0A";
}

@layer components {
  .max-container {
    max-width: 2000px;
    margin: 0 auto;
    overflow: hidden;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  border-top: 4px solid #000;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@layer utilities {
  .hover-opacity {
    @apply hover:opacity-50 duration-500 ease-in-out;
  }

  .my-shadow {
    @apply shadow-[0px_0px_10px_0px_rgba(0,0,0,0.1)];
  }

  .hover-scaledown {
    @apply hover:scale-75 duration-500 ease-in-out;
  }
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }
}
